.card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card-img-top {
    font-size: 1rem;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-secondary {
    font-weight: 500;
}

.image-produit {
    max-height: 170px;
    object-fit: contain;
}

.produit-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 10px; /* agrandit visuellement */
}

.produit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}