<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer UniqueFit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSS-Image/CSS/footer.css">
</head>
<body>
<footer class="footer mt-5 py-4 border-top">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-2 d-flex flex-column align-items-center align-items-md-start gap-3 mb-3 mb-md-0">
                <div class="d-flex gap-3">
                    <a href="https://instagram.com"><img src="../CSS-Image/Image/instagram.png" class="logos"></a>
                    <a href="https://x.com"><img src="../CSS-Image/Image/x.png" class="logos"></a>
                </div>
                <div class="d-flex gap-3">
                    <a href="https://github.com"><img src="../CSS-Image/Image/github.png" class="logos"></a>
                    <a href="https://linkedin.com"><img src="../CSS-Image/Image/linkedin.png" class="logos"></a>
                </div>
            </div>

            <!-- Liens principaux -->
            <div class="col-6 col-md-3">
                <h6 class="fw-bold">liens</h6>
                <ul class="list-unstyled">
                    <li><a href="home.php" class="footer-link">› page d'accueil</a></li>
                    <li><a href="product.php" class="footer-link">› page des produits</a></li>
                    <li><a href="cart.php" class="footer-link">› page du panier</a></li>
                    <li><a href="login.php" class="footer-link">› se connecter</a></li>
                    <li><a href="register.php" class="footer-link">› s'inscrire</a></li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="col-6 col-md-3">
                <h6>Un souci?</h6>
                <a href="MAILTO:diogo.oliveira1@eduvaud.ch" class="footer-link">contactez-nous!</a>
            </div>

            <!-- Localisation -->
            <div class="col-12 col-md-4">
                <h6>localisation</h6>
                <p class="mb-0">CPNV Ste-Croix</p>
                <p class="mb-0">Av. de la Gare 14</p>
                <p class="mb-0">1450, Sainte-Croix</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>